* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.hero {
  color: rgba(255, 255, 255, 0.9);
  background-color: #1f2937;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

nav ul li:nth-child(1) {
  margin-right: auto;
}

.hero .header {
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner h1 {
  margin-bottom: 0.5rem;
}

.banner {
  padding: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

.banner p {
  margin-bottom: 2rem;
}

.banner button {
  background-color: #3882f6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  font-size: 1rem;
}

.banner-img {
  margin: 0.5rem;
  flex: none;
  width: 450px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  gap: 2rem;
}

.information h2 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 3rem;
}

.info-img-container {
  display: flex;
}

.img {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  gap: 1rem;
}

.some-img {
  border: 2px solid #3882f6;
  border-radius: 10px;
  width: 150px;
  height: 100px;
  margin-bottom: 8px;
}

.img p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-color: #e5e7eb;
}

blockquote {
  flex: 0 1 600px;
  font-style: italic;
  font-size: 2rem;
}

cite {
  display: block;
  text-align: right;
  font-style: normal;
  font-weight: 900;
  padding: 1rem;
}

.cta-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  margin: 0.5rem;
  background-color: #3882f6;
  color: #fff;
  border-radius: 5px;
  padding: 2rem 4rem;
  display: flex;
}

.cta-text {
  padding: 2rem;
}

.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.cta-btn button {
  border: 1px solid #fff;
  color: #fff;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 1rem 3rem;
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: #1f2937;
  color: #fff;
}
